<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sicko Clinic</title>
</head>
<body>
<div class="grid-1-1 grid-flex margin-bottom-20">
    <h2 class="grid-flex-grow margin-auto">Appointment List</h2>
    <div>
        <button id="openPopupButton">Add Appointment</button>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.appointment_date }}</td>
            <td>{{ appointment.patient_name }}</td>
            <td>{{ appointment.doctor_name }}</td>
            <td>{{ appointment.state_name }}</td>
            <td>
                <div class="grid-flex gap-20">
                    <!-- Details Button -->
                    <form method="GET"
                          action="{{ url_for('appointments.appointment_details', appointment_id=appointment.appointment_id) }}">
                        <button type="submit" class="details-button">Details</button>
                    </form>

                    {% if appointment.state_id == 1 or appointment.state_id == 5 %}
                        <!-- Delete Button -->
                        <form method="POST"
                              action="{{ url_for('appointments.update_appointment', appointment_id=appointment.appointment_id) }}">
                            <button type="submit" class="delete-button">Cancel</button>
                        </form>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Popup Form -->
<div id="popupOverlay" class="overlay">
    <div id="popup" class="popup">
        <span id="closePopup" class="popup-close">&times;</span>
        <form method="POST" action="{{ url_for('appointments.add_appointment') }}" class="popup-form"
              enctype="multipart/form-data">
            <div class="form-group">
                <label for="patient_name">Patient:</label>
                <select id="patient_name" name="patient_name" required class="select-field">
                    {% for patient in patients %}
                        <option value="{{ patient.id }}">{{ patient.first_name }} {{ patient.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="doctor_name">Doctor:</label>
                <select id="doctor_name" name="doctor_name" required class="select-field">
                    {% for doctor in doctors %}
                        <option value="{{ doctor.id }}">{{ doctor.first_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="observations">Observations:</label>
                <textarea id="observations" name="observations" required class="textarea-field"></textarea>
            </div>
            <div class="form-group">
                <label for="appointment_date">Date:</label>
                <input type="datetime-local" id="appointment_date" name="appointment_date" required
                       class="input-field" min="{{ current_datetime }}">
            </div>
            <div class="form-group">
                <label for="image_file">Image File:</label>
                <input type="file" id="image_file" name="image_file" accept="image/*" class="input-field">
            </div>
            <div class="form-group">
                <button type="submit" class="btn-submit">Add Appointment</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("openPopupButton").addEventListener("click", function () {
        document.getElementById("popupOverlay").style.display = "block";
        document.getElementById("popup").style.display = "block";
    });

    document.getElementById("closePopup").addEventListener("click", function () {
        document.getElementById("popupOverlay").style.display = "none";
        document.getElementById("popup").style.display = "none";
    });
</script>
</body>
</html>
