<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sicko Clinic</title>
</head>
<body>
<h2 class="margin-auto">User Profile</h2>
<div class="grid-1-1 grid-flex gap-100">
    <div class="grid-2-3">
        <h3>Personal Information</h3>
        <form class="style padding-20" action="{{ url_for('clinic.update_profile', username=user.username) }}"
              method="POST">
            <div class="grid-1-1 grid-flex gap-20 margin-bottom-20">
                <div class="grid-1-2">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="{{ user.username }}" readonly
                           disabled><br><br>
                </div>
                <div class="grid-1-2">
                    <label for="nif">NIF:</label>
                    <input type="text" id="nif" name="nif" value="{{ user.nif }}"><br><br>
                </div>
            </div>
            <div class="grid-1-1 grid-flex gap-20 margin-bottom-20">
                <div class="grid-1-2">
                    <label for="first_name">First Name:</label>
                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}"><br><br>
                </div>
                <div class="grid-1-2">
                    <label for="last_name">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}"><br><br>
                </div>
            </div>
            <div class="grid-1-1 grid-flex gap-20 margin-bottom-20">
                <div class="grid-1-2">
                    <label for="birth_date">Birth Date:</label>
                    <input type="text" id="birth_date" name="birth_date" value="{{ user.birth_date }}"><br><br>
                </div>
                <div class="grid-1-2">
                    <label for="tlm">Phone Number:</label>
                    <input type="text" id="tlm" name="tlm" value="{{ user.tlm }}"><br><br>
                </div>
            </div>
            <input type="submit" value="Update">
        </form>
    </div>
    <div class="grid-1-3">
        <h3>Privacy Policy</h3>
        <button id="openPopupButton" onclick="openPopup()">View Privacy Policy</button>
        <!-- Profile popup -->
        <div id="popupOverlay" class="overlay">
            <div class="popup" id="popup" >
                <div class="popup-content">
                    <span id="closePopup"  class="close" onclick="closePopup()">&times;</span>
                    <h2>Privacy Policy</h2>
                    <div style="overflow-y: auto; max-height: 500px; margin-top: 10px" id="privacyPolicyText"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("openPopupButton").addEventListener("click", function () {
        document.getElementById("popupOverlay").style.display = "block";
        document.getElementById("popup").style.display = "block";
    });

    document.getElementById("closePopup").addEventListener("click", function () {
        document.getElementById("popupOverlay").style.display = "none";
        document.getElementById("popup").style.display = "none";
    });

    // Load the privacy policy text from the PRIVACY_POLICY file
    fetch("../static/PRIVACY_POLICY.txt")
        .then(response => response.text())
        .then(data => {
            document.getElementById("privacyPolicyText").innerText = data;
        });
</script>
</body>
</html>
