<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/style.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Login - Sicko</title>
</head>
<body class="auth-body">
    <form class="auth-form style" action="{{ url_for('auth.login') }}" method="post">
        <h1>Login</h1>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br>
        <div class="margin-bottom-auto">
            <input type="submit" value="Login">
            <p>Not registered? <a class="register-link" href="{{ url_for('auth.register') }}">Click here to register</a></p>
        </div>
    </form>
</body>
</html>
