body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#element1 {
    display: inline-block;
}

#element2 {
    display: inline-block;
    vertical-align: top;
    margin-top: 90px;
    alignment: left;
    width: 25%;
}


/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0077b5;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
    margin-top: 16px;
}

nav ul {
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Main content styles */
main {
    padding: 40px;
}

h1 {
    margin-bottom: 30px;
    font-size: 3rem;
    color: #333;
}

p {
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    /*
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    */
}
