<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sicko Clinic</title>
</head>
<body>
<div class="grid-1-1 grid-flex margin-bottom-20">
    <h2 class="grid-flex-grow margin-auto">Prescription List</h2>
    <div>
        <button id="openPopupButton">Add Prescription</button>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Medication</th>
        <th>Dosage</th>
        <th>Instructions</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for prescription in prescriptions %}
        <tr>
            <td>PRC{{ prescription.prescription_id }}</td>
            <td>{{ prescription.patient_name }}</td>
            <td>{{ prescription.doctor_name }}</td>
            <td>{{ prescription.medication }}</td>
            <td>{{ prescription.dosage }}</td>
            <td>{{ prescription.instructions }}</td>
            <td>{{ prescription.prescription_date }}</td>
            <td>
                <div class="grid-flex gap-20">
                    <!-- Delete Button -->
                    <form method="POST"
                          action="{{ url_for('prescriptions.delete_prescription', prescription_id=prescription.prescription_id) }}">
                        <button type="submit" class="delete-button">Delete</button>
                    </form>
                    <!-- Details Button -->
                    <form method="GET"
                          action="{{ url_for('prescriptions.prescription_details', prescription_id=prescription.prescription_id) }}">
                        <button type="submit" class="details-button">Details</button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Popup Form -->
<div id="popupOverlay" class="overlay">
    <div id="popup" class="popup">
        <span id="closePopup" class="popup-close">&times;</span>
        <h2>Add Prescription</h2>
        <form method="POST" action="{{ url_for('prescriptions.add_prescription') }}" class="popup-form">
            <div class="form-group">
                <label for="patient_name">Patient:</label>
                <select id="patient_name" name="patient_name" required class="select-field">
                    {% for patient in patients %}
                        <option value="{{ patient.id }}">{{ patient.first_name }} {{ patient.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="doctor_name">Doctor:</label>
                <select id="doctor_name" name="doctor_name" required class="select-field">
                    {% for doctor in doctors %}
                        <option value="{{ doctor.id }}">{{ doctor.first_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="medication">Medication:</label>
                <select id="medication" name="medication" required class="select-field">
                    {% for medication in medications %}
                        <option value="{{ medication.id }}">{{ medication.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="dosage">Dosage:</label>
                <input type="text" id="dosage" name="dosage" required class="input-field">
            </div>
            <div class="form-group">
                <label for="instructions">Instructions:</label>
                <textarea id="instructions" name="instructions" required class="textarea-field"></textarea>
            </div>
            <div class="form-group">
                <label for="prescription_date">Date:</label>
                <input type="date" id="prescription_date" name="prescription_date" required class="input-field">
            </div>
            <div class="form-group">
                <button type="submit" class="btn-submit">Add Prescription</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("openPopupButton").addEventListener("click", function () {
        document.getElementById("popupOverlay").style.display = "block";
        document.getElementById("popup").style.display = "block";
    });

    document.getElementById("closePopup").addEventListener("click", function () {
        document.getElementById("popupOverlay").style.display = "none";
        document.getElementById("popup").style.display = "none";
    });
</script>
</body>
</html>
